.nav {
  display: inline-flex;

  &__link {}

  @include sm-tablet {
    position: fixed;
    left: 0;
    top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: var(--bg-color);
    transform: translateY(-150%);
    transition: transform 0.3s ease;

    &.show {
      transform: translateY(0);
    }
  }
}