<section class="modal" id="modal-">
  <div class="modal__content">
    <button class="modal-close" type="button" aria-label="Close Window"></button>
    <div class="modal__inner">
      <h2 class="modal__title"></h2>
      <form class="modal__form" action="/" method="post">
        <input class="modal__input modal__input--name" type="text" name="your-name" placeholder="Your name" required>
        <input class="modal__input modal__input--phone" type="tel" name="your-phone" placeholder="Your phone" required>
        <input class="modal__input modal__input--email" type="email" name="your-email" placeholder="Your e-mail" required> 
        <button class="btn" type="submit">Call me back</button> 
      </form>
    </div>
  </div>
</section>