.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--zd3);
  width: 100%;
  background-color: var(--white);
  transition: background-color 0.2s ease;

  &.sticky {
    background-color: var(--black);
  }

  &__inner {
  }

  @include sm-tablet {
    padding: 1rem 0;
    background-color: var(--black);
  }
}