._visually-hidden {
  margin: -1px;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

._logo {
  margin-right: auto;
  transition: opacity 0.2s ease;
    
  &:focus {
    opacity: 0.6;
  }

  &:hover {
    opacity: 0.8;
  }
}

._btn {
  cursor: pointer;
  background-color: var(--btn-color);
  transition: background-color 0.2s ease;

  &:focus {}
  &:hover {}
}

._icon {
  fill: var(--accent);
  transition: fill 0.2s ease;
}