html {
  font-size: 10px;
}

body {
  margin: 0;
  color: var(--text-primary);
  font-family: var(--ff-primary);
  font-size: var(--f-primary);
  background-color: var(--bg-color);

  &.lock {
    overflow-y: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: calc(var(--container) + 3rem);
  width: 100%;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}