// Брейкоинты
$bp1: 1200px;  // desktop
$bp2: 1100px;  // tablet
$bp3: 767px;   // small tablet
$bp4: 576px;   // mobile
$bp5: 420px;   // small mobile

:root {
  // размеры
  --container: 1220px;


  // основные цвета
  --primary: #444;
  --accent: #3cc8aa;

  // цвета элементов
  --bg-color: var(--white);
  --border-color: #f2f2f2;
  --btn-color: var(--accent);
  --text-primary: var(--primary);

  // остальные цвета
  --black: #000;
  --white: #fff;


  // размеры шрифтов
  --f-primary: 1.6rem;

  --f-xs: 1.4rem;
  --f-s: 2rem;
  --f-m: 3rem;

  // семейство шрифтов
  --ff-primary: "Roboto", sans-serif;
  --ff-title: "Montserrat", sans-serif;


  // z-index
  --zd1: 1;
  --zd2: 2;
  --zd3: 3;
  --zd4: 4;
}
