<header class="header">
  <div class="container">
    <div class="header__inner">
      
      <h3 style="display: flex; justify-content: center;">Я шапочка!</h3>

      <!-- <a href="index.html">
        <img class="header__logo  _logo" src="img/logo.svg" alt="Logo" width="" height="">
      </a>
      <button class="header__burger  burger" aria-label="Menu">
        <span></span>
      </button>
      <nav class="header__nav  nav">
        <a href="#" class="nav__link"></a>
        <a href="#" class="nav__link"></a>
        <a href="#" class="nav__link"></a>
      </nav> -->
    </div>
  </div>
</header>